/* .filter-box {
  margin-top: 1.5rem;
} */

.filter-box > h3 {
  margin: 0 2rem 1rem 0;
}

.filter-box,
.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filters > li {
  border: 3px solid var(--clr-grey);
  border-radius: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.filters .fas {
  display: inline-flex;
  background-color: var(--clr-light);
  color: var(--clr-accent);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  margin: -3px;
}

.filter-text {
  padding: 0 1rem 0 0.75rem;
  font-weight: bold;
}

.info-box {
  display: flex;
  align-items: center;
}

.info {
  height: 2rem;
  width: 2rem;
  border: solid 1px var(--clr-grey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.fa-info {
  color: var(--clr-accent);
}
