.main-result {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.marseille-city,
.popular {
  background-color: var(--clr-grey);
}

.marseille-city {
  grid-column: 1/3;
  grid-row: 1;
}

.popular {
  grid-column: 3;
  grid-row: 1;
}
