footer {
  background-color: var(--clr-grey);
}

.footer-box {
  padding: 0 1.5rem 2.5rem 1.5rem;
}

.footer-content > h3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content > a {
  padding-bottom: 1rem;
}

.footer-content > a:last-child {
  padding-bottom: 0;
}

/* A PARTIR DE 641 PIXELS */
@media screen and (min-width: 641px) {
  .footer-box {
    padding: 0 2.5rem 2.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

/* A PARTIR DE 1200 PIXELS */
@media screen and (min-width: 1200px) {
  .footer-box {
    width: 80%;
  }
}
