footer {
  background-color: var(--clr-grey);
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 0 0 2.5rem 2.5rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content > h3 {
  margin-top: 2.5rem;
}
