.main-result {
  display: flex;
  flex-direction: column;
}

.fa-star {
  font-size: 0.8em;
  letter-spacing: -3px;
}

.main-result p {
  font-size: 0.9em;
}

@media screen and (min-width: 1200px) {
  .marseille-city,
  .popular {
    background-color: var(--clr-grey);
    border-radius: 1.25rem;
  }

  .marseille-city {
    grid-column: 1/3;
    grid-row: 1;
    padding: 2rem;
  }

  .main-result {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.25rem;
  flex-grow: 1;
  height: fit-content;
}

.rating > .fas[data-active="true"] {
  color: var(--clr-accent);
}

.rating > .fas[data-active="false"] {
  color: var(--clr-grey);
}

.popular-card:hover,
.city-card:hover,
.activity-card:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}
