.main-result {
  display: flex;
  flex-direction: column;
}

.fa-star {
  font-size: 0.8em;
  letter-spacing: -3px;
}

@media screen and (min-width: 1008px) {
  .marseille-city,
  .popular {
    background-color: var(--clr-grey);
    border-radius: 1.25rem;
  }

  .marseille-city {
    grid-column: 1/3;
    grid-row: 1;
    padding: 2rem;
  }

  .main-result {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.popular-card,
.city-card {
  display: flex;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  padding: 0.3rem;
  background-color: white;
}

.card-details {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating > .fas[data-active="true"] {
  color: var(--clr-accent);
}

.rating > .fas[data-active="false"] {
  color: var(--clr-grey);
}
