@media screen and (max-width: 640px) {
  .navbar-items {
    align-items: center;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .navbar-items .active-link {
    border-bottom: solid 3px var(--clr-accent);
  }

  .logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1.5rem 1.5rem 1.7rem 1.5rem;
  }

  .nav-0 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1.5rem 1.5rem 1.7rem 1.5rem;
    text-align: end;
  }

  .nav-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 1.2rem;
    text-align: center;
    width: 100%;
  }

  .nav-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1.2rem;
    text-align: center;
    border-bottom: solid 3px var(--clr-grey);
  }
}
@media screen and (min-width: 641px) {
  .navbar-items {
    align-items: center;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr repeat(3, fit-content(50px));
  }

  .navbar-items .active-link {
    border-top: solid 3px var(--clr-accent);
  }

  .nav-link {
    padding: 2.5rem 1.5rem;
  }

  .logo {
    padding: 0 0 0 2.5rem;
  }

  .nav-0 {
    padding-right: 2.5rem;
  }
}

.nav-subscription {
  color: var(--clr-accent);
  font-weight: bold;
}

.active[data-active="true"] {
  color: var(--clr-accent);
}
