html {
  font-family: "Raleway", sans-serif;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
}

@media screen and (min-width: 641px) {
  h2 {
    margin: 0 0 1.5rem 0;
    padding-top: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    margin: 0.5rem 0 1.5rem 0;
    padding-top: 0;
  }
}

*:focus {
  outline: 0;
}
